{{- if .IsPage -}}
<script type="application/ld+json">
{{- $breadcrumb := dict "@context" "https://schema.org" "@type" "BreadcrumbList" -}}
{{- $itemListElement := slice -}}
{{- $itemListElement = $itemListElement | append (dict "@type" "ListItem" "position" 1 "name" site.Title "item" site.BaseURL) -}}
{{- $ancestors := .Ancestors.Reverse -}}
{{- range $index, $ancestor := $ancestors -}}
{{- $itemListElement = $itemListElement | append (dict "@type" "ListItem" "position" (add $index 2) "name" $ancestor.Title "item" $ancestor.Permalink) -}}
{{- end -}}
{{- $itemListElement = $itemListElement | append (dict "@type" "ListItem" "position" (add (len .Ancestors) 2) "name" .Title "item" .Permalink) -}}
{{- $breadcrumb = merge $breadcrumb (dict "itemListElement" $itemListElement) -}}
{{- $breadcrumb | jsonify (dict "indent" "  ") -}}
</script>
{{- end -}}