{{- if .IsPage -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement":
  [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "{{ site.Title }}",
      "item": "{{ site.BaseURL }}"
    }
    {{- $ancestors := .Ancestors.Reverse }}
    {{- range $index, $ancestor := $ancestors }}
    ,
    {
      "@type": "ListItem",
      "position": {{ add $index 2 }},
      "name": "{{ $ancestor.Title }}",
      "item": "{{ $ancestor.Permalink }}"
    }
    {{- end }}
    ,
    {
      "@type": "ListItem",
      "position": {{ add (len .Ancestors) 2 }},
      "name": "{{ .Title }}",
      "item": "{{ .Permalink }}"
    }
  ]
}
</script>
{{- end -}}
